@import "tailwindcss";

@layer components {
  ::before, ::after {
    box-sizing: border-box;
  }

  body{
    background-color: #A6A6A6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  /* Style Calculator */
  .gridPersonalizeRow{
    grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
  }

  .gridPersonalizeCol{
    grid-template-columns: repeat(4, 6rem);
  }

  .btn-big{
    grid-column: span 2;
  }

  @media (width <= 40rem) {
    .gridPersonalizeRow{
      grid-template-rows: minmax(7rem, auto) repeat(5, 5.5rem);
    }
  
    .gridPersonalizeCol{
      grid-template-columns: repeat(4, 5.5rem);
    }
  } 

  @media (width <= 400px) {
    .gridPersonalizeRow{
      grid-template-rows: minmax(7rem, auto) repeat(5, 4.5rem);
    }
  
    .gridPersonalizeCol{
      grid-template-columns: repeat(4, 4.5rem);
    }
  } 

  @media (width <= 330px) {
    .gridPersonalizeRow{
      grid-template-rows: minmax(7rem, auto) repeat(5, 4rem);
    }
  
    .gridPersonalizeCol{
      grid-template-columns: repeat(4, 4rem);
    }
  } 

  @media (width <= 300px) {
    .gridPersonalizeRow{
      grid-template-rows: minmax(7rem, auto) repeat(5, 3rem);
    }
  
    .gridPersonalizeCol{
      grid-template-columns: repeat(4, 3rem);
    }
  } 
}